@model OrderGame

<tr class="order-game">
    <td>
        @Model.Productid
    </td>
    <td>
        @Model.Name
    </td>
    <td>
        @Model.Price
    </td>
    <td>
        @Model.Count
    </td>
    <td>
        @Model.TotalPrice
    </td>
</tr>
